{% extends 'base.html'%}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Clever Programmer Blog! Here we'll be talking about everything computer science. Basics, Frameworks, Machine Learning, other data science stuff, any new tech or findings, and pretty much anything relating CS.</p>
            <p>Go visit us at our <a href="https://github.com/Haebuk"> github</a> to check out more.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}